td{
    width: 10%;
    text-align: center;
    margin-top: 500px;

}

button{
    width: 75%;
    margin-left: 0%;
    margin: 25%;
    margin-top: 500px;

    }

table{
    margin-top: 10px;
    margin-bottom: 0px;
}

img{
    width: 25%;
}

button{
    width: 65px;
}